$margin:80px;
$marginSpan:8px;
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

header{
  width:100%;
  height:34px;
  line-height: 34px;
  background: #fafafa;
  font-size: 11px;
  color: black;
  a{
    color:#666;
  }
  .headerLeft{
    float: left;
    margin-left: $margin;
    span{
      margin-right: $marginSpan;
    }
    .city{
      color: green;
      font-size: 14px;
    }
  }
  .headerRight{
    float: right;
    margin-right: $margin;
    .red{
      color: red;
    }
    span{
      margin-right: $marginSpan;
    }
  }
  .headerHidden{
    position: absolute;
    top:25px;
    left:120px;
    z-index: 10;
    width: 450px;
    height:190px;
    border: 1px solid #ccc;
    background: #fcfcfc;
    display: none;
    span{
      margin-left: 8px;
    }
    button{
      position: absolute;
      top:8px;
      right: 5px;
      width: 50px;
      height:18px;
      line-height: 18px;
    }
    div{
      width: 434px;
      height:150px;
      background: white;
      border: 1px solid #cccccc;
      margin-left: 8px;
      p{
        line-height: 16px;
        margin-top: 5px;
      }
      .key{
        line-height: 16px;
        margin-top: 10px;
      }
      .two{
        margin-left: 40px;
      }
    }
  }
}


nav{
  width: 100%;
  height:77px;
  line-height: 77px;
  font-size: 16px;
  border: 1px solid white;
  .navLeft{
    float: left;
    margin-left: $margin;
    img{
      height:77px;
    }
  }
  .navRight{
    float: right;
    margin-right: $margin+15px;
    img{
      position: relative;
      top:-15px;
      left: -12px;
    }
    span{
      margin-left: 35px;
    }
    a{
      color: #333;
    }
  }
}


.movePic{
  margin-left: $margin;
  position: relative;
  .logo{
    position: absolute;
    top:2px;
    width: 18%;
    height: 340px;
    background: rgba(50, 50, 50, 0.8);
    div{
      height:85px;
      line-height: 85px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-around;
      font-size: 16px;
      color: white;
    }
  }
  .hidden1{
    position: absolute;
    left: 18%;
    top:2px;
    z-index: 22;
    width: 52%;
    height:120%;
    border: 1px solid #0f5;
    background: #fafafa;
    display: none;
    p{
      margin-top: 13px;
      line-height: 25px;
      span{
        display: inline-block;
        margin-top: 5px;
      }
      .z{
        width: 140px;
        height:25px;
        padding-right: 15px;
        text-align: right;
        border-right: 1px solid #ccc;
      }
    }
  }
  .hidden2{
    position: absolute;
    left: 18%;
    top:2px;
    z-index: 22;
    width: 52%;
    height: 100%;
    border: 1px solid #0f5;
    background: #fafafa;
    display: none;
    p{
      height:15%;
      margin-top: 2%;
      line-height: 100px;
      padding-left: 25px;
      .x{
          margin-left: 75px;
      }
      span{
        display: inline-block;
        height: 100%;
        width: 15%;
        margin-left: 5px;
        background: #ccc;
      }
    }
  }
  .hidden3{
    position: absolute;
    left: 18%;
    top:2px;
    z-index: 22;
    width: 52%;
    height:420px;
    border: 1px solid #0f5;
    background: #fafafa;
    display: none;
    p{
      height:13%;
      margin-top: 2%;
      span{
        display: inline-block;
        width: 18%;
        height: 100%;
        border: 1px solid;
        line-height: 50px;
        background: #ccc;
        margin-left: 1%;
        text-align: center;
      }
    }
  }
  .hidden4{
    position: absolute;
    left: 18%;
    top:2px;
    z-index: 22;
    width: 52%;
    height: 100%;
    border: 1px solid #0f5;
    background: #fafafa;
    display: none;
    p{
      height: 15%;
      margin-top: 2%;
      span{
        display: inline-block;
        height: 100%;
        line-height: 51px;
        width: 18%;
        border: 1px solid;
        margin-left: 1%;
        text-align: center;
      }
    }
  }
}


.business{
  width: 1200px;
  height: 160px;
  overflow: hidden;
  margin-left: $margin;
  display: flex;
  flex-flow: row;
  div{
    width: 25%;
    text-align: center;
    h4{
      font-weight: 500;
    }
  }
}


.product{
  position: relative;
  left: $margin;
  width: 1200px;
  h3{
    margin-top: 38px;
    span{
      position: absolute;
      right: 0;
      font-size: 14px;
      line-height: 28px;
      a{
        color: black;
      }
    }
  }
  div{
    display: flex;
    flex-flow: row;
    height:301px;
    span{
      width: 200px;
      display: inline-block;
    }
    .min{
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      img{
        height:60%;
        margin-top: 20%;
      }
      p{
        margin-top: 10%;
      }
    }
  }
}


.shops{
  width: 1200px;
  position: relative;
  left:$margin;
  top: 40px;
  .search{
    .caret{
      color: green;
      margin-left: 10px;
    }
    .cityBtn,.countyBtn{
      display: inline-block;
      width: 170px;
      height: 40px;
      line-height: 40px;
      margin-right: 6px;
      border: 1px solid green;
      font-size: 14px;
      padding-left: 15px;
    }
    .searchBox{
      display: inline-block;
      width: 400px;
      height:40px;
      border: 1px solid green;
      padding: 5px 0 5px 8px;
      input{
        height:30px;
        width: 390px;
        border: none;
      }
    }
    .searchBtn{
      display: inline-block;
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      background: #19805b;
      margin-left: -5px;
      color: white;
    }
  }
  .btnSet{
    width: 880px;
    height:40px;
    background: #ccc;
    margin-top: 20px;
    position: relative;
    span{
      display: inline-block;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-right: -5px;
      font-size: 15px;
    }
    .atlas{
      display: inline-block;
      width: 150px;
      height:30px;
      line-height: 30px;
      background: white;
      position: absolute;
      top:5px;
      right:15px;
    }
  }
  .shopNews{
    width: 880px;
    .store{
      height:140px;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      display: flex;
      flex-flow: row;
      color: #999;
      position: relative;
      img{
        width: 100px;
        border: 1px solid #ccc;
      }
      .news{
        display: flex;
        width: 380px;
        height: 110px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 8px;
        a{
          color: #999;
          margin-right: 5px;
        }
        .p1,.p2{
          margin-top: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .insure{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        .approve,.moods{
          margin-top: 12px;
        }
      }
      .btn{
        width: 130px;
        height:50px;
        line-height: 40px;
        font-size: 18px;
        border: 1px solid green;
        position: absolute;
        right: 5px;
        top:30px;
        color: green;
        display: none;
      }
    }
    .pagination{
      display: flex;
      justify-content: center;
      li{
        margin-left: 5px;
        height:40px;
      }
    }
  }
  .goodList{
    position: absolute;
    right: 0;
    top:60px;
    width: 280px;
    height: 740px;
    border: 1px solid #ccc;
    .listP{
      height:40px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      background: #eee;
    }
    .box{
      display: flex;
      flex-direction: row;
      height: 100px;
      border-top: 1px solid #ccc;
      span{
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        border-radius:50%;
        border: 1px solid;
        margin-left: 20px;
        margin-top: 38px;
      }
      img{
        height:60px;
        margin-left: 20px;
        margin-top: 20px;
      }
      div{
        height:60px;
        margin-top: 20px;
        margin-left: 8px;
        p{
          line-height: 20px;
          font-size: 15px;
          a{
            color: #3c763d;
          }
        }
      }
    }
  }
}


.logo1{
  width: 100%;
  height: 150px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fdfdfd;
  margin-top:100px;
  display: flex;
  justify-content: center;
  .logoBox{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 70px;
    img{
      height: 45px;
    }
    .fontLink{
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      h4{
        font-weight: 700;
        color: #666;
      }
      a{
        color: #666;
      }
      .toJoin{
        color: #22ccff;
      }
    }
  }
}


footer{
  text-align: center;
  background: #fdfdfd;
  color: #666;
  padding-top: 20px;
  font-size: 13px;
  a{
    color: #666;
    margin-left: 15px;
    margin-right: 15px;
  }
}